[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "tools/pluginval"]
	path = tools/pluginval
	url = https://github.com/Tracktion/pluginval.git
	branch = develop
